<template>
    <div id="app">
        <menu-bar-layout>
            <system-preference slot="logo"/>
        </menu-bar-layout>
        <desktop/>
        <footer/>
        <background/>
    </div>
</template>
<script>
    import MenuBarLayout from "src/components/layout/MenuBarLayout.vue";
    import SystemPreference from "src/views/preference/SysPreference.vue"
    import Desktop from "src/views/desktop/Desktop.vue";
    import Background from "src/views/desktop/Background.vue";

    export default {
        name: 'app',
        components: {
            MenuBarLayout,
            SystemPreference,
            Background,
            Desktop
        },
        data() {
            return {}
        },
        methods: {
            fn1() {
            },
            fn2() {
            },
            copyMsg() {
                alert('copy')
                this.contextMenuVisible = false
            },
            quoteMsg() {
                alert('quote')
                this.contextMenuVisible = false
            },
            deleteMsg() {
                alert('delete')
                this.contextMenuVisible = false
            }
        }
    }
</script>


<style scoped lang="less">
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: 0;
        padding: 0;
        width: 100%;
        height: calc(100%);
    }

    .context-menu {
        position: fixed;
        background: #fff;
        border: solid 1px rgba(0, 0, 0, .2);
        border-radius: 3px;
        z-index: 999;
        display: none;
        a {
            width: 75px;
            height: 28px;
            line-height: 28px;
            text-align: center;
            display: block;
            color: #1a1a1a;
            :hover {
                background: #eee;
                color: #fff;
            }
        }
    }
</style>
