.file-explorer {
  border: 1px solid #eee;
  border-radius: 2px;
  height: 100%;
  background-color: #ffffff;
  position: relative;
  overflow: hidden;

  .path {
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    font-size: 14px;
    border-bottom: 1px solid #e2e2e2;

    .path-prefix {
      color: #a7a7a7;
    }
  }

  .explorer-body {
    width: 100%;
    bottom: 90px;
    top: 0;

    .left {
      height: 100%;
    }

    .right {
      padding: 10px;
      height: 100%;
      background-color: #ffffff;
    }
  }
}
