<style lang="less">
  @import "./files-explorer.less";
</style>
<template>
  <div class="file-explorer">
    <div class="path" v-model="path"><span class="path-prefix">当前位置: </span>{{ path }}</div>
    <Split class="explorer-body" v-model="split">
      <div class="left" slot="left">
        <Tree :data="defaultTree" :load-data="loadData"></Tree>
      </div>
      <div class="right" slot="right">Right</div>
    </Split>
  </div>
</template>
<script>
  export default {
    data() {
      return {
        defaultTree: [
          {
            title: '/',
            loading: false,
            children: []
          }
        ],
        path: "/root",
        split: 0.2
      }
    },
    methods: {
      loadData(item, callback) {
        setTimeout(() => {
          const data = [
            {
              title: 'children',
              loading: false,
              children: []
            },
            {
              title: 'children',
              loading: false,
              children: []
            }
          ];
          callback(data);
        }, 100);
      }
    }
  }
</script>
