<!DOCTYPE html>
<style>
  body{font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "\\5FAE软雅黑", Arial, sans-serif;}
  .ivu-drawer{top:25px!important;}
  .ivu-select-dropdown{padding:0 !important;border-radius:0!important;left:15px !important;}
  .ivu-drawer-content{box-shadow: -11px 0 20px 0 rgba(0,0,0,.15);}
  .ivu-modal-content{border-radius:2px!important;}
  .ivu-modal-no-mask{overflow: hidden !important;}
  .nas-preference .ivu-modal-header{padding:8px 10px !important;}
  .nas-preference .ivu-radio-group-button.ivu-radio-group-small .ivu-radio-wrapper {height: 20px!important;line-height: 18px!important;}
  .nas-dlg .ivu-modal-header {padding: 8px 10px !important;height: 37px;}
  .nas-dlg .ivu-modal-body{padding:0 10px 10px 10px !important;}
  .nas-dlg .ivu-tree ul li {margin:0 !important;}
</style>
<html lang="en" style="height: 100%;">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>nas</title>
  </head>
  <body style="margin:0;padding:0;height:100%;overflow: hidden;">
    <noscript>
      <strong>We're sorry but nas doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
  </body>
</html>
