<template>
    <dialog-layout>
        <div slot="content" class="content">
            <div class="left">
                <tree :data="data" :render="renderIcon" ref="treeForRootDir" @on-click="loadRootDir"></tree>
            </div>
            <div class="right">

                <div class="file-item" v-for="(item,index) in dirContent">
                    <div class="file-icon"><i class="ivu-icon ivu-icon-ios-folder-open"></i></div>
                    <div class="file-name" :title="item.name">{{item.name}}</div>
                </div>
                <!--<Button @click="doLogin">Login</Button>
                <div class="dir-show">
                    <p><b>用户信息:</b> {{accessToken}}</p>
                    <br>
                    <p><b>过期时间:</b> {{refreshToken}}秒</p>

                </div>-->
            </div>
        </div>
    </dialog-layout>
</template>

<script>
    import DialogLayout from 'src/components/layout/DialogLayout'
    import {Button, Tree} from 'iview'
    import {listRootDir} from 'src/api/explorer'

    export default {
        name: "Explorer",
        components: {
            DialogLayout,
            Tree,
            Button
        },
        data() {
            return {
                data: [
                    {
                        title: '根目录',
                        expand: false,
                        children: []
                    },
                ],
                dirContent: [],
                // accessToken: '',
                // refreshToken: ''
            }
        },
        methods: {
            loadRootDir() {
                return new Promise(() => {
                    listRootDir()
                        .then(res => {
                            if (res && res.data.succ) {
                                let that = this
                                that.dirContent = res.data.data
                                res.data.data.forEach(function (item) {
                                    that.data[0].children.push({'title': item.name, 'expand': false, children: []})
                                })
                            }
                        })
                        .catch((res, err) => {
                            console.log(err)
                        })
                })
            },
            renderIcon(h, {root, node, data}) {
                return h(
                    'span',
                    {
                        style: {
                            display: 'inline-block',
                        }
                    },
                    [
                        h(
                            'Icon',
                            {
                                props: {type: 'ios-folder-outline'},
                                style: {marginRight: '4px', fontSize: '16px'},
                                on: {
                                    click: () => {
                                        this.loadRootDir()
                                    }
                                }
                            }
                        ),
                        h('span', data.title)
                    ]
                )
            }
        }
    }
</script>

<style scoped lang="less">
    .content {
        position: relative;
    }

    .left {
        position: relative;
        left: 0;
        top: 0;
        bottom: 0;
        width: 180px;
        height: 600px;
        overflow: hidden;
        padding-right: 5px;
        li>span{
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            width: 180px;
        }
    }

    .right {
        position: absolute;
        left: 181px;
        top: 0;
        right: 0;
        bottom: 0;
    }

    .dir-show {
        word-break: break-word;
    }

    .file-item {
        float: left;
        width: 70px;
        margin: 5px;
        .file-icon {
            text-align: center;
            i {
                font-size: 26px;
            }
        }
        .file-name {
            text-align: center;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
</style>