<template>
    <modal class="nas-dlg"
           v-model="showExplorer"
           :width="800"
           :height="800"
           :draggable="true"
           :scrollable="false"
           :closable="false"
           :footer-hide="true"
           @contextmenu.prevent>
        <div slot="header" class="header">
            <div class="operator">
                <a @click="operator('close')"><i class="close ivu-icon ivu-icon-ios-close-circle"></i></a>
                <a @click="operator('min')"><i class="close ivu-icon ivu-icon-ios-remove-circle"></i></a>
                <a @click="operator('max')"><i class="close ivu-icon ivu-icon-ios-add-circle"></i></a>
            </div>
        </div>
        <slot name="content"></slot>
    </modal>
</template>

<script>
    import {mapGetters, mapMutations} from 'vuex'
    import {Modal} from 'iview'
    import {TOGGLE_EXPLORER_DISPLAY} from "../../store/mutation-types";

    export default {
        name: "DialogLayout",
        components: {
            Modal
        },
        props: {
            show: {
                type: Boolean,
                required: false
            }
        },
        computed: {
            ...mapGetters([
                'showExplorer'
            ])
        },
        methods: {
            ...mapMutations({
                toggleExplorer: TOGGLE_EXPLORER_DISPLAY
            }),
            operator(event) {
                switch (event) {
                    case 'close':
                        this.toggleExplorer(false)
                        break
                    case 'min':
                        break
                    case 'max':
                        break
                    default:
                        break
                }
            }
        }
    }
</script>

<style scoped lang="less">
    .nas-dlg {
        .header {
            text-align: center;

            .operator {
                position: absolute;

                a {
                    font-size: 16px;
                    color: red;
                    margin-right: 5px;
                }
            }

            .rdo-group {
                margin-left: -50px;
            }
        }
    }
</style>