<template>
    <div class="menu-bar" @contextmenu.prevent>
        <div class="logo">
            <slot name="logo"></slot>
        </div>
        <span class="title">{{title}}</span>
        <div class="msg-center">
            <a @click="showMessageCenter"><i class="ivu-icon ivu-icon-md-menu"></i></a>
            <drawer @contextmenu.prevent :closable="false" oncontextmenu="return false"
                    v-model="messageCenterVisible" width="350">
                <p>Some contents...</p>
                <p>Some contents...</p>
                <p>Some contents...</p>
            </drawer>
        </div>
    </div>
</template>
<script>
    import {Drawer} from 'iview'
    import {mapState} from 'vuex'

    export default {
        name: "MenuBarLayout",
        components: {
            Drawer
        },
        data() {
            return {
                messageCenterVisible: false
            }
        },
        methods: {
            showMessageCenter() {
                this.messageCenterVisible = !this.messageCenterVisible
            },
        },
        computed: {
            ...mapState([
                'title'
            ])
        }
    }
</script>

<style scoped lang="less">
    .menu-bar {
        height: 25px;
        line-height: 20px;
        font-weight: 600;
        color: #fff;
        padding-left: 15px;
        text-align: left;
        background-color: rgba(204, 204, 204, 0.13);
        box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.59);

        .logo {
            color: #ffffff;
            font-size: 20px;
            float: left;
            line-height: 23px;
        }

        .title {
            height: 30px;
            line-height: 27px;
            margin-left: 10px;
            font-weight: 700;
        }

        .msg-center {
            i {
                color: #ffffff;
            }

            float: right;
            font-size: 20px;
            margin-right: 10px;
        }
    }

    .ivu-drawer {
        top: 25px;
    }
</style>

