<template>
    <ul class="vue-ctx-menu-list-wrapper" :class="'vue-ctx-menu-name-' + contextMenuData.menuName">
        <li v-for="item in contextMenuData.menuList" class="context-menu-list" :key="item.btnName">
            <a @click.stop="fnHandler(item)">
                <i :class="item.icoName"></i>
                <span>{{item.btnName}}</span>
            </a>
        </li>
    </ul>
</template>
<script>
    export default {
        props: {
            contextMenuData: {
                type: Object,
                required: false,
                default() {
                    return {
                        menuName: null,
                        axis: {
                            x: 0,
                            y: 0
                        },
                        menuList: [
                            {
                                icoName: 'fa fa-home fa-fw',
                                btnName: 'Menu1',
                                fnHandler: 'adddata'
                            },
                            {
                                icoName: 'fa fa-home fa-fw',
                                btnName: 'Menu2',
                                fnHandler: 'savedata'
                            }
                        ]
                    }
                }
            },
            transferIndex: {
                type: Number,
                default: 0
            }
        },
        watch: {
            'contextMenuData.axis'(position) {
                let x = position.x;
                let y = position.y;
                const _this = this;
                const index = _this.transferIndex;
                const menuName = 'vue-ctx-menu-name-' + _this.contextMenuData.menuName;
                const menu = document.getElementsByClassName(menuName)[index];
                menu.style.display = 'block'
                menu.style.left = x + 2 + 'px'
                menu.style.top = (y - 2) + 'px'
                const menuHeight = this.contextMenuData.menuList.length * 32; //不能用scrollHeight,获取到的menu是上一次的menu宽高
                const menuWidth = 150; //不能用scrollWidth,同理
                if (y < menuHeight) {
                    menu.style.top = (y - 2) + 'px'
                }
                const toBottom = document.body.clientHeight - y;
                if (toBottom < menuHeight) {
                    menu.style.top = y - menuHeight + 'px'
                }
                const toRight = document.body.clientWidth - x;
                if (toRight < menuWidth) {
                    menu.style.left = x - menuWidth - 2 + 'px'
                }
                document.addEventListener('mousedown', function (e) {
                    if (e.target.parentElement.className === "desktop-item") {
                        menu.style.display = 'none'
                    }
                })
                document.addEventListener('mouseup', function (e) {
                    // 解决mac电脑在鼠标右键后会执行mouseup事件
                    if (e.button === 0) {
                        menu.style.display = 'none'
                    }
                }, false)
            }
        },
        methods: {
            fnHandler(item) {
                this.$emit(item.fnHandler)
            }
        }
    }
</script>
<style scoped lang="less">
    .vue-ctx-menu-list-wrapper {
        box-shadow: 0 1px 10px 0 #0e0000;
        display: none;
        position: fixed;
        z-index: 9999;
        top: 0;
        left: 0;
        background-color: #cccccc;
        border-radius: 4px;

        li {
            width: 150px;
            height: 32px;
            background: #F3F3F3;
            text-decoration: none;
            list-style: none;
            font-weight: 600;
            text-align: left;
            border-top: 1px solid #ccc;
            font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "\\5FAE软雅黑", Arial, sans-serif;

            &:hover {
                background-color: #046fd5;
            }

            a {
                line-height: 32px;
                display: block;

                i {
                    padding: 0 10px 0 10px;
                }

                &:hover {
                    color: #ffffff;
                    background-color: transparent;
                }
            }
        }

        > :first-child {
            border-top: none;
            border-radius: 4px 4px 0 0;
        }

        > :last-child {
            border-radius: 0 0 4px 4px;
        }
    }
</style>
