<template>
    <div>
        <dropdown trigger="click" @on-click="menuClick">
            <a href="javascript:void(0);" class="logo">
                <i class="ivu-icon ivu-icon-logo-apple"></i>
            </a>
            <dropdown-menu slot="list">
                <dropdown-item name="about">关于本机</dropdown-item>
                <dropdown-item name="2">系统偏好设置</dropdown-item>
                <dropdown-item name="3">应用商店</dropdown-item>
                <dropdown-item name="4" divided>注销</dropdown-item>
                <dropdown-item name="5">重新启动</dropdown-item>
                <dropdown-item name="6">关机</dropdown-item>
            </dropdown-menu>
        </dropdown>
        <Modal class="nas-preference" v-model="aboutDialogVisible" :width="600" :draggable="true" :scrollable="false"
               :closable="false" :footer-hide="true" oncontextmenu="return false">
            <div slot="header" class="header">
                <div class="operator">
                    <a @click="operation('close')"><i class="close ivu-icon ivu-icon-ios-close-circle"></i></a>
                    <a @click="operation('min')"><i class="close ivu-icon ivu-icon-ios-remove-circle"></i></a>
                    <a @click="operation('max')"><i class="close ivu-icon ivu-icon-ios-add-circle"></i></a>
                </div>
                <radio-group class="preference-rdo-group" v-model="preference" type="button" size="small">
                    <radio label="summary">概览</radio>
                    <radio label="display">显示器</radio>
                    <radio label="storage">存储空间</radio>
                    <radio label="memory">内存</radio>
                    <radio label="support">支持</radio>
                    <radio label="service">服务</radio>
                </radio-group>
            </div>
            <div class="content" style="padding: 20px;">
                <div style="float: left;width:150px;">
                    <img src="http://demo.kodcloud.com/static/images/wall_page/8.jpg"
                         style="width:150px;height:150px;border-radius:75px;">
                </div>
                <div style="float:left;">
                    <p>NAS</p>
                    <p>{{preference}}</p>
                    <p></p>
                    <p>iMac(21.5-inch,2017)</p>
                    <p></p>
                    <p></p>
                </div>
            </div>
        </Modal>
    </div>
</template>
<script>
    import {Dropdown, DropdownItem, DropdownMenu, Modal, Radio, RadioGroup} from 'iview'

    export default {
        name: "SysPreference",
        components: {
            Dropdown,
            DropdownMenu,
            DropdownItem,
            Modal,
            RadioGroup,
            Radio
        },
        data() {
            return {
                visible: false,
                aboutDialogVisible: false,
                preference: 'summary',
            }
        },
        methods: {
            showMenu(event) {
                event.preventDefault()
                return
            },
            menuClick(name) {
                switch (name) {
                    case 'close':
                        this.aboutDialogVisible = false
                        break
                    case "about":
                        this.aboutDialogVisible = true
                        break
                }
            },
            operation(event) {
                switch (event) {
                    case 'close':
                        this.aboutDialogVisible = false
                        break
                    case "about":
                        this.aboutDialogVisible = true
                        break
                }
            }
        }
    }
</script>

<style scoped lang="less">
    .logo {
        color: #ffffff;
        font-size: 20px;
    }

    .header {
        text-align: center;
        .operator {
            position: absolute;
            a {
                font-size: 16px;
                color: red;
                margin-right: 5px;
            }
        }
        .rdo-group {
            margin-left: -50px;
        }
    }

    .content {
        height: 300px;
    }
</style>
