<template>
    <div class="bg-wrapper"></div>
</template>

<script>
    export default {
        name: "Background"
    }
</script>

<style scoped>
    .bg-wrapper {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: url('http://demo.kodcloud.com/static/images/wall_page/8.jpg') 50% 50% no-repeat;
        z-index: -999;
        background-size:cover;
    }
</style>
