<template>
    <div class="desktop-wrapper" @contextmenu="showMenu">
        <context-menu :contextMenuData="contextMenuData"/>
        <div class="desktop-item" v-for="item in desktopItems"
             :key="item.idx" :style="{left:(item.coordinate.x+'px'),top:(item.coordinate.y+'px')}"
             @click="onItemClickHandler(item.name,item.title)">
            <icon :type="item.icon"/>
            <p>{{item.title}}</p>
        </div>
        <explorer />
    </div>
</template>
<script>
    import {Icon} from 'iview'
    import {mapMutations} from 'vuex'
    import ContextMenu from 'src/components/ContextMenu'
    import Explorer from 'src/views/explorer/Explorer'
    import {CHANGE_ACTIVE_APP_TITLE, TOGGLE_EXPLORER_DISPLAY} from 'src/store/mutation-types'

    export default {
        name: 'Desktop',
        props: ['background'],
        components: {
            Icon,
            ContextMenu,
            Explorer
        },
        data() {
            return {
                desktopItems: [
                    {
                        idx: 1,
                        icon: 'ios-folder-open',
                        title: 'Finder',
                        name: 'open-dir',
                        coordinate: {x: 0, y: 30}
                    },
                    {
                        idx: 2,
                        icon: 'ios-cloud',
                        title: '云存储',
                        name: 'show-summary',
                        coordinate: {x: 0, y: 120}
                    },
                    {
                        idx: 3,
                        icon: 'md-download',
                        title: '下载管理',
                        coordinate: {x: 0, y: 210}
                    }
                    ,
                    {
                        idx: 4,
                        icon: 'md-settings',
                        title: '系统设置',
                        coordinate: {x: 0, y: 300}
                    }
                ],
                contextMenuData: {
                    menuName: 'nas_menu',
                    axis: {
                        x: 100,
                        y: 100
                    },
                    menuList: [
                        {
                            icoName: 'ios-folder-open-outline',
                            btnName: '新建文件夹',
                            fnHandler: 'fn1'
                        },
                        {
                            icoName: 'md-settings',
                            btnName: '显示简介',
                            fnHandler: 'fn1'
                        }, {
                            icoName: 'fa fa-home fa-fw',
                            btnName: '更改桌面背景',
                            fnHandler: 'fn1'
                        }, {
                            icoName: 'fa fa-home fa-fw',
                            btnName: '修改名称',
                            fnHandler: 'fn1'
                        }
                    ]
                }
            }
        },
        methods: {
            showMenu(event) {
                if (event.target.parentElement.className === "desktop-item") {
                    event.preventDefault()
                    return
                }
                event.preventDefault()
                let x = event.clientX
                let y = event.clientY
                this.contextMenuData.axis = {
                    x, y
                }
            },
            onItemClickHandler(name, title) {
                this.changeTitle(title)
                switch (name) {
                    case 'open-dir':
                        this.toggleExplorer(true)
                        break
                    case 'show-summary': {
                        // login({userName: '111', password: '111'}).then(res => {
                        //     console.log(res)
                        // }).catch(err => {
                        //
                        // })
                        break
                    }
                    default:
                        break
                }
            },
            ...mapMutations({
                changeTitle: CHANGE_ACTIVE_APP_TITLE,
                toggleExplorer: TOGGLE_EXPLORER_DISPLAY
            })
        }
    }
</script>
<style scoped lang="less">
    .desktop-wrapper {
        width: 100%;
        height: calc(100% - 25px);

        .desktop-item {
            width: 80px;
            height: 80px;
            float: left;
            padding-top: 10px;
            margin: 10px;
            background: transparent;
            position: absolute;
            cursor: pointer;

            i {
                font-size: 45px;
                color: #7ad3f8;
            }

            p {
                color: #ffffff;
                text-overflow: ellipsis;
                overflow: hidden;
                width: 80px;
                padding: 1px 5px;
                white-space: nowrap;
            }

            &:hover, &:active {
                border-radius: 4px;
                background-color: #cccccc45;
            }
        }
    }
</style>
