<template>
    <div class="footer-wrapper"></div>
</template>

<script>
    export default {
        name: "Footer"
    }
</script>

<style scoped>
    .footer-wrapper{
        height: 1px;
    }
</style>
