<template>
    <div class="toolbar-wrapper" @contextmenu.prevent>
        <a><i class="ivu-icon ivu-icon-logo-apple"></i></a>
    </div>
</template>
<script>
    export default {
        name: 'ToolsBar',
        props: ['height']
    }
</script>
<style scoped lang="less">
    .toolbar-wrapper {
        height: 25px;
        line-height: 20px;
        font-weight: 600;
        color: #fff;
        padding-left: 10px;
        text-align: left;
        font-family: "微软雅黑", serif;
        background-color: rgba(204, 204, 204, 0.13);
        box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.59);
        .ivu-icon-logo-apple {
            color: #ffffff;
            font-size: 20px;
        }
    }

</style>
